{
    "swagger": "2.0",
    "info": {
        "version": "0.5.0.0 (903a8d5)",
        "title": "PostgREST API",
        "description": "This is a dynamic API generated by PostgREST"
    },
    "host": "api.resilinc.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/vnd.pgrst.object+json",
        "text/csv"
    ],
    "produces": [
        "application/json",
        "application/vnd.pgrst.object+json",
        "text/csv"
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Introspection"
                ],
                "summary": "OpenAPI description (this document)",
                "produces": [
                    "application/openapi+json",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.categories.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.categories.name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.categories.total_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.categories.total_mapped_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.categories.total_partners"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/categories"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_details": {
            "get": {
                "tags": [
                    "category_details"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_details.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_partners"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_parts_mapped"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_parts_unmapped"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_sole_sourced_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_single_sourced_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_multi_sourced_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_active_impacted_events"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.number_of_active_mitigations"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_details.managers"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_details"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_events": {
            "get": {
                "tags": [
                    "category_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_events.category_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.created_on"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.potential_revenue_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.confirmed_revenue_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.total_sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.total_parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.total_partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_events.total_products_impacted"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_events"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_partners": {
            "get": {
                "tags": [
                    "category_partners"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.category_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.number_of_partner_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.number_of_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_partners.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_partners"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_parts": {
            "get": {
                "tags": [
                    "category_parts"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.category_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.part_description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.sole_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.single_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.max_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.max_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.average_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.average_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.spend"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.total_number_of_partners"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.is_dual_site"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.part_end_of_life_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_parts.part_qualification_status"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_parts"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_products": {
            "get": {
                "tags": [
                    "category_products"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_products.category_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.product_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.product_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.product_description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.total_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.total_mapped_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_products.total_partners"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_products"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_risks": {
            "get": {
                "tags": [
                    "category_risks"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_risks.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_risks.name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_risks.risks"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_risks"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/category_sites": {
            "get": {
                "tags": [
                    "category_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.category_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.site_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.site_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.site_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.longitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.latitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.owner"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.country_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.max_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.max_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.partner_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.category_sites.activities"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/category_sites"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_details": {
            "get": {
                "tags": [
                    "event_details"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_details.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.closed_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.row_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.is_alert"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.products_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.parts_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.revenue_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.event_location"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.selection_type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.event_bulletins"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details.event_location_geojson"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_details"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_details_old": {
            "get": {
                "tags": [
                    "event_details_old"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.row_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.products_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.parts_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.revenue_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.is_alert"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.event_bulletins"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.selection_type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_old.event_location"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_details_old"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_details_vk": {
            "get": {
                "tags": [
                    "event_details_vk"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.closed_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.is_alert"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.products_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.parts_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.revenue_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.event_location"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.selection_type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.event_bulletins"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_details_vk.event_location_geojson"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_details_vk"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_partners": {
            "get": {
                "tags": [
                    "event_partners"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.impact_duration"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.impact_duration_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.comments"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_partners.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_partners"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_parts": {
            "get": {
                "tags": [
                    "event_parts"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.sole_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.single_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.partner_parts"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_parts"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "event_parts"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/body.event_parts"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "delete": {
                "tags": [
                    "event_parts"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.sole_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.single_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.partner_parts"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "event_parts"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.sole_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.single_sourced"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_parts.partner_parts"
                    },
                    {
                        "$ref": "#/parameters/body.event_parts"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/event_products": {
            "get": {
                "tags": [
                    "event_products"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_products.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.product_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.product_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_products.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_products"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/event_sites": {
            "get": {
                "tags": [
                    "event_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.comments"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.longitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.latitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.data_source"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.alternate_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.activities"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/event_sites"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "event_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/body.event_sites"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "delete": {
                "tags": [
                    "event_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.comments"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.longitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.latitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.data_source"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.alternate_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.activities"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "event_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.event_last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.site_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.partner_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.impact_duration_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.comments"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.products_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.max_recovery_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.longitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.latitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.data_source"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.alternate_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.event_sites.activities"
                    },
                    {
                        "$ref": "#/parameters/body.event_sites"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/events": {
            "get": {
                "tags": [
                    "events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.events.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.revenue"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.is_alert"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/events"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/body.events"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "delete": {
                "tags": [
                    "events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.events.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.revenue"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.is_alert"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.events.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.last_modified_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.sites_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.partners_confirmed_impact"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.subtier_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.revenue"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.events.is_alert"
                    },
                    {
                        "$ref": "#/parameters/body.events"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/part_details": {
            "get": {
                "tags": [
                    "part_details"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_details.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.partner_part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.partner_part_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.data_source"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.end_of_life_date"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.alternate_site_qualified"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.alternate_part_names"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.partner_external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.spend"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_details.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/part_details"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/part_events": {
            "get": {
                "tags": [
                    "part_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_on"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.confirmed_revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_products_impacted"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/part_events"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "part_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/body.part_events"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "delete": {
                "tags": [
                    "part_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_on"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.confirmed_revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_products_impacted"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "part_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_on"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.confirmed_revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.part_down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_events.total_products_impacted"
                    },
                    {
                        "$ref": "#/parameters/body.part_events"
                    },
                    {
                        "$ref": "#/parameters/preferReturn"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/part_products": {
            "get": {
                "tags": [
                    "part_products"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_products.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.product_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.product_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.total_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.number_of_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.number_of_single_source_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_products.revenue_at_risk"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/part_products"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/part_risks": {
            "get": {
                "tags": [
                    "part_risks"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_risks.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_risks.risks"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/part_risks"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/part_sites": {
            "get": {
                "tags": [
                    "part_sites"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.part_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.site_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.site_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.longitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.latitude"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.owner"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.country_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.activities"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.part_sites.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/part_sites"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/partner_details": {
            "get": {
                "tags": [
                    "partner_details"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.data_source"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.tier_level"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.higher_tier_partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.higher_tier_partner_name"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.number_of_sites"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.number_of_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.number_of_sites_with_mapped_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.number_of_mapped_parts"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.street_address1"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.street_address2"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.city"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.state"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.country"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.postal_code"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.website"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.phone"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.fax"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.ultimate_duns_number"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.stock_symbol"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_details.emergency_contacts"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/partner_details"
                        },
                        "description": "OK"
                    }
                }
            }
        },
        "/partner_events": {
            "get": {
                "tags": [
                    "partner_events"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.partner_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.external_ids"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.event_id"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.created_on"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.created_by"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.type"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.title"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.description"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.impact_status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.severity"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.status"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.down_time"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.down_time_unit"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.confirmed_revenue_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.total_sites_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.total_parts_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.total_partners_impacted"
                    },
                    {
                        "$ref": "#/parameters/rowFilter.partner_events.total_products_impacted"
                    },
                    {
                        "$ref": "#/parameters/select"
                    },
                    {
                        "$ref": "#/parameters/order"
                    },
                    {
                        "$ref": "#/parameters/range"
                    },
                    {
                        "$ref": "#/parameters/rangeUnit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/preferCount"
                    }
                ],
                "responses": {
                    "206": {
                        "description": "Partial Content"
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/partner_events"
                        },
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "partner_events"
                ],
                "parameters": [
                    {
[...]
